In [33]:
import pandas as pd
import numpy as np

In [34]:
books = pd.read_csv('py_book_list.csv')
ratings = pd.read_csv('Ratings_py.csv')
users = pd.read_csv('users.csv')

In [35]:
print(books.shape)
print(ratings.shape)
print(users.shape)

(20, 4)
(51, 3)
(50, 2)

In [36]:
# to identify missing values
books.isnull().sum()

b_id             1
Name of books    1
Author           1
Image-URL        3
dtype: int64

In [37]:
ratings.isnull().sum()

User-ID    1
b_id       1
Ratings    1
dtype: int64

In [38]:
users.isnull().sum()

User_ID    0
Age        0
dtype: int64

In [39]:
books.duplicated().sum()

0

In [40]:
ratings.duplicated().sum()

0

In [41]:
users.duplicated().sum()

0

## Popularity Based Recommendation System 
The model will derive the mean of ratings on books and accordingly will recommend top rated books to the user

In [42]:
# merge 2 datasets on basis of b_id
ratings_with_books = ratings.merge(books,on='b_id')
ratings_with_books.head()

,User-ID,b_id,Ratings,Name of books,Author,Image-URL
0,NaN,NaN,NaN,NaN,NaN,NaN
1,user1,b_11,10.0,Python Cookbook: Recipes for Mastering Python 3,"David Beazley, Brian K. Jones",https://m.media-amazon.com/images/I/71L-WzJlrb...
2,user11,b_11,5.0,Python Cookbook: Recipes for Mastering Python 3,"David Beazley, Brian K. Jones",https://m.media-amazon.com/images/I/71L-WzJlrb...
3,user26,b_11,4.0,Python Cookbook: Recipes for Mastering Python 3,"David Beazley, Brian K. Jones",https://m.media-amazon.com/images/I/71L-WzJlrb...
4,user41,b_11,1.0,Python Cookbook: Recipes for Mastering Python 3,"David Beazley, Brian K. Jones",https://m.media-amazon.com/images/I/71L-WzJlrb...

In [43]:
# Identify number of ratings on each book 
num_rating_df = ratings_with_books.groupby('Name of books').count()['Ratings'].reset_index()
num_rating_df.rename(columns={'Ratings':'Number of ratings'},inplace=True)
num_rating_df.head()

                                       Name of books  Number of ratings
0  Automate the Boring Stuff with Python, 2nd Edi...                  2
1  Best Advanced Python Book: Fluent Python: Clea...                  2
2  Best Book for Practical Learning: Learn Python...                  4
3            Best Free Python Book: A Byte of Python                  2
4     Best Python Book for Children: Python for Kids                  3

In [44]:
# Average rating of each book 
avg_rating_df = ratings_with_books.groupby('Name of books').mean()['Ratings'].reset_index()
avg_rating_df.rename(columns={'Ratings':'Average ratings'},inplace=True)
avg_rating_df.head()

                                       Name of books  Average ratings
0  Automate the Boring Stuff with Python, 2nd Edi...         5.000000
1  Best Advanced Python Book: Fluent Python: Clea...         0.500000
2  Best Book for Practical Learning: Learn Python...         3.750000
3            Best Free Python Book: A Byte of Python         6.000000
4     Best Python Book for Children: Python for Kids         8.333333

In [45]:
# merge num_ratings_df with avg_ratings_df on basis of 'Name of books'
popular_df = num_rating_df.merge(avg_rating_df,on='Name of books')
popular_df.head()

,Name of books,Number of ratings,Average ratings
0,"Automate the Boring Stuff with Python, 2nd Edi...",2,5.000000
1,Best Advanced Python Book: Fluent Python: Clea...,2,0.500000
2,Best Book for Practical Learning: Learn Python...,4,3.750000
3,Best Free Python Book: A Byte of Python,2,6.000000
4,Best Python Book for Children: Python for Kids,3,8.333333

In [46]:
# Sort the values of Average Ratings in descending order to  get top 5 high rated books
popular_df = popular_df.sort_values('Average ratings', ascending=False).head(5)

In [47]:
# merge popular_df with books dataset and filter required columns
popular_df = popular_df.merge(books,on='Name of books')
popular_df[['Name of books','Author','Image-URL','Number of ratings','Average ratings']]

,Name of books,Author,Image-URL,Number of ratings,Average ratings
0,Best Python Book for Children: Python for Kids,Jason R. Briggs,https://m.media-amazon.com/images/I/61nKA224Mg...,3,8.333333
1,Python Crash Course,Eric Matthews,https://m.media-amazon.com/images/I/514cSQ0O9O...,2,8.000000
2,Best Python Programming Books for Advanced Pro...,Tony Stark,https://m.media-amazon.com/images/I/41JeFdBQlD...,2,7.000000
3,Creative Coding in Python: 30+ Programming Pro...,Sheena Vaidyanathan,https://m.media-amazon.com/images/I/51EJ5ZEbYW...,2,6.000000
4,Best Free Python Book: A Byte of Python,C.H. Swaroop,https://m.media-amazon.com/images/I/41JeFdBQlD...,2,6.000000

In [48]:
import pickle
pickle.dump(popular_df,open('popular.pkl','wb'))