In [3]:
import pandas as pd
import numpy as np

In [4]:
books = pd.read_csv('py_book_list.csv')
ratings = pd.read_csv('Ratings_py.csv')
users = pd.read_csv('users.csv')

In [5]:
print(books.shape)
print(ratings.shape)
print(users.shape)

(20, 3)
(51, 3)
(50, 2)

In [6]:
# to identify missing values
books.isnull().sum()

b_id             0
Name of books    0
Author           0
dtype: int64

In [7]:
ratings.isnull().sum()

User-ID    1
b_id       1
Ratings    1
dtype: int64

In [8]:
users.isnull().sum()

User_ID    0
Age        0
dtype: int64

In [9]:
books.duplicated().sum()

0

In [10]:
ratings.duplicated().sum()

0

In [11]:
users.duplicated().sum()

0

## Popularity Based Recommendation System 
The system will display top 5 average highest rated Books from the dataset.

In [12]:
# merge 2 datasets on basis of b_id
ratings_with_books = ratings.merge(books,on='b_id')
ratings_with_books.head()

,User-ID,b_id,Ratings,Name of books,Author
0,user1,b_11,10.0,Best Advanced Python Book: Fluent Python: Clea...,Luciano Ramalho
1,user11,b_11,5.0,Best Advanced Python Book: Fluent Python: Clea...,Luciano Ramalho
2,user26,b_11,4.0,Best Advanced Python Book: Fluent Python: Clea...,Luciano Ramalho
3,user41,b_11,1.0,Best Advanced Python Book: Fluent Python: Clea...,Luciano Ramalho
4,user2,b_12,0.0,Python Cookbook: Recipes for Mastering Python 3,"David Beazley, Brian K. Jones"

In [13]:
# Identify number of ratings on each book 
num_rating_df = ratings_with_books.groupby('Name of books').count()['Ratings'].reset_index()
num_rating_df.rename(columns={'Ratings':'Number of ratings'},inplace=True)
num_rating_df.head()

                                       Name of books  Number of ratings
0  Automate the Boring Stuff with Python, 2nd Edi...                  2
1  Best Advanced Python Book: Fluent Python: Clea...                  4
2  Best Book for Job Interview Prep: Elements of ...                  2
3  Best Book for Practical Learning: Learn Python...                  4
4            Best Free Python Book: A Byte of Python                  2

In [14]:
# Average rating of each book 
avg_rating_df = ratings_with_books.groupby('Name of books').mean()['Ratings'].reset_index()
avg_rating_df.rename(columns={'Ratings':'Average ratings'},inplace=True)
avg_rating_df.head()

                                       Name of books  Average ratings
0  Automate the Boring Stuff with Python, 2nd Edi...             3.00
1  Best Advanced Python Book: Fluent Python: Clea...             5.00
2  Best Book for Job Interview Prep: Elements of ...             5.00
3  Best Book for Practical Learning: Learn Python...             3.75
4            Best Free Python Book: A Byte of Python             7.00

In [15]:
# merge num_ratings_df with avg_ratings_df on basis of 'Name of books'
popular_df = num_rating_df.merge(avg_rating_df,on='Name of books')
popular_df.head()

,Name of books,Number of ratings,Average ratings
0,"Automate the Boring Stuff with Python, 2nd Edi...",2,3.00
1,Best Advanced Python Book: Fluent Python: Clea...,4,5.00
2,Best Book for Job Interview Prep: Elements of ...,2,5.00
3,Best Book for Practical Learning: Learn Python...,4,3.75
4,Best Free Python Book: A Byte of Python,2,7.00

In [16]:
# Sort the values of Average Ratings in descending order to  get top 5 high rated books
popular_df = popular_df.sort_values('Average ratings', ascending=False).head(5)

In [17]:
# merge popular_df with books dataset and filter required columns
popular_df = popular_df.merge(books,on='Name of books')
popular_df[['Name of books','Author','Number of ratings','Average ratings']]

,Name of books,Author,Number of ratings,Average ratings
0,Best Python Books for Kids,Mark Ruffalo,3,8.333333
1,Best Python Books for Beginners,Dwayne Johnson,2,8.000000
2,Best Free Python Book: A Byte of Python,C.H. Swaroop,2,7.000000
3,Creative Coding in Python: 30+ Programming Pro...,Sheena Vaidyanathan,2,6.500000
4,Coding For Kids: Python: Learn to Code with 50...,Adrienne Tacke,2,6.000000